<footer>
    <div class="footer-links">
        <section class="social-media">
            <ul class="list social-icons">
                <li class="item"><a class="link social-link" href="https://facebook.com/latteporlaciudad/"
                        aria-label="Facebook account link"><i class="fa-brands fa-facebook fa-2x"></i></a>
                </li>
                <li class="item"><a class="link social-link" href="https://www.instagram.com/latte.porlaciudad/"
                        aria-label="Instagram account link"><i class="fa-brands fa-instagram fa-2x"></i></a></li>
                <li class="item"><a class="link social-link" href="https://twitter.com/sui_azanza/"
                        aria-label="Twitter account link"><i class="fa-brands fa-twitter fa-2x"></i></a></li>
            </ul>
        </section>
        <section class="legal">
            <p><a class="link social-link" href="{% url 'legal' %}">Legal</a></p>
        </section>
    </div>
    <div class="credits">
        <small>Coded with ☕ in latam by <a class="link social-link" href="https://zeedu.dev">Eduardo
                Zepeda.</a></small>
    </div>
</footer>