{% load i18n %}

<div class="reviews">
    <div class="reviews-buttons">
        <a class="link secondary-link" href='{% url "reviews:list" shop.pk %}'>
            {% trans " Read other people's reviews" %}
        </a>
        {% if not shop.review %}
        <a class="link secondary-link" href='{% url "reviews:create" shop.pk %}'>
            {% trans " Review coffee shop" %}
        </a>
        {% else %}
    </div>
    <h3>{% trans "Your opinion" %}</h3>
    <div>
        <p><a class="link review-content" href='{% url "reviews:list" shop.pk %}'>{{ shop.review.content }}</a></p>
    </div>
    <div class="thumbs-icon">
        {% if shop.review.recommended %}
        <i class="fa-solid fa-thumbs-up"></i> {% trans "Recommended" %}
        {% else %}
        <i class="fa-solid fa-thumbs-down"></i> {% trans "Not recommended" %}
        {% endif %}
    </div>
    {% endif %}
</div>