{% load i18n %}
{% load static %}

<div class="social-card-info">
    <h2>{{user}}</h2>
    <p>{{user.first_name}} {{user.last_name}}</p>
    <img class="profile-picture"
        src='{% if user.profile_picture %}{{user.profile_picture.url}}{% else %}{% static "images/no-profile-picture.jpg" %}{% endif %}'
        alt="" />
    {% if user.bio %}<p>{{user.bio}}</p>{% endif %}
</div>
<div class="social-card-relations">
    <div class="social-card-followers">
        <a class="link" href="#following"><strong>{{user.following_count}}</strong> {% trans "Following" %}</a>
        <a class="link" href="#followers"><strong>{{user.followers_count}}</strong> {% trans "Followers" %}</a>
    </div>
</div>