{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="social-card">
    <h2>{{user}}</h2>

    <img class="profile-picture" src='{% if user.profile_picture %}{{user.profile_picture.url}}{% else %}{% static "images/no-profile-picture.jpg" %}{% endif %}' alt=""/>
    <p>{{user.first_name}} {{user.last_name}}</p>
    <a class="link" href='{% url "accounts:update" request.user.pk %}'><button class="btn">{% trans "Update profile" %}</button></a>
</div>
{% if likes %}
<div class="likes-list">
    <h2>{% trans "Your likes" %}</h2>
    <ul class="list likes-list">
        {% for shop in likes %}
            <li class="item likes-item">
                <a class="link likes-item-link" href="{{ shop.get_absolute_url }}">{{shop.name}}</a>
            </li>
        {% endfor %}
        {% else %}
            {% trans "This account has not liked any coffee shop" %}
        {% endif %}
        <a class="link" href='{% url "shops:likes" %}'><button class="btn">{% trans "See all your likes" %}</button></a>
    </ul>
</div>
{% endblock %}