{% extends "base.html" %}
{% load static %}
{% load django_vite %}
{% load i18n %}
{% block title %}{{user}} {% trans "profile" %}{% endblock %}
{% block content %}

<div class="social-card">
    {% include "partials/social_card.html" with user=user %}
    <!-- If we're not in the current user profile create a follow button -->
    {% if not user == request.user %}
    <button class="btn follow-button" user-id='{{user.id}}'
        action='{% if user.is_followed %}unfollow{% else %}follow{% endif %}'>
        {% if user.is_followed %}{% trans "Unfollow" %}{% else %}{% trans "Follow" %}{% endif %}
    </button>
    {% else %}
    <a class="link" href='{% url "accounts:update" request.user.pk %}'>
        <button class="btn">{% trans "Update info" %}</button>
    </a>
    {% endif %}
    <form>
        {% csrf_token %}
    </form>
    {% include "partials/modal.html" with accounts=followers type="followers" %}
    {% include "partials/modal.html" with accounts=following type="following" %}
    {% include "partials/likes_for_user.html" with user=user shop=shop %}
</div>
{% include "partials/accounts_to_follow.html" %}
</div>
{% endblock %}
{% block footer_scripts %}
{% vite_asset 'js/followAccount.js' %}
{% endblock %}