html,
body {
    min-height: 100vh;
}

body {
    background-color: #FFF;
    color: #181818;
    font-family: 'Mukta', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    min-height: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 3px 0px;
}

footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    min-height: 30px;
    gap: 2rem;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, .1), 0 -2px 2px rgba(0, 0, 0, .06), 0 0 2px rgba(0, 0, 0, .07);
}

h1 {
    font-family: 'Comfortaa', cursive;
}

.site-title {
    font-size: 4rem;
}

.site-subtitle {
    margin: 0;
}

.responsive-img {
    border-radius: 6px;
    width: 100%;
    height: auto;
}

a,
a:visited {
    text-decoration: none;
    color: #181818;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#map {
    width: 100%;
}

.menu {
    display: inline-flex;
    align-items: center;
}

.menu-bars {
    display: none;
    padding: 0 0.5rem;
}

.menu li {
    margin: 0 1rem;
}

.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #181818f2;
    /* Leaflet map uses z-index 1000 by default */
    z-index: 1001;
}

.sidebar-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 3rem;
    height: 100vh;
}

.close {
    color: #FFF;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
}

.sidebar-menu a {
    color: #FFF;
    font-weight: bold;
    font-size: 1.4rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.help-text {
    margin: 1rem;
}

.page-content {
    max-width: 64ch;
    align-self: center;
}

.leaflet-container {
    /* all maps */
    height: 800px;
}

.logo {
    font-family: 'Comfortaa', cursive;
}

.shop-tag {
    color: #2b82cb;
    font-weight: bold;
    width: 100px;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    background-color: #FFF;
    border: 1px solid #2b82cb;
}

.review-content {
    max-width: 64ch;
    line-height: 2.5rem;
}

.review-content a {
    /* remove default padding to content anchors */
    padding: 0;
}

#detail-map {
    max-width: 400px;
    height: 400px;
}

.shop-map {
    width: 100%;
}

.article-content {
    min-width: 400px;
}

.new-cafe-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
}

.credits {
    color: gray;
    text-align: center;
}

.social-icons {
    display: inline-flex;
    list-style: none;
    gap: 1rem;
}

.recent-addition {
    background-color: #2383ff;
    border-radius: 4px;
    font-size: 0.9rem;
    padding: 0 0.1rem;
    color: white;
}

.hidden {
    display: none;
}

.blurry {
    filter: blur(8px);
}

.search-wrapper {
    position: relative;
    width: 100px;
}

.search {
    border-radius: 2px;
    border: 1px solid #181818;
    padding: 0.5rem;
}

.help-block {
    color: #ef4444;
    font-size: 0.9rem;
    line-height: 1rem;
}

.textInput, .emailinput {
    padding: 1rem;
    border: 1px solid #dbdbdb;
    color: #363636;
    box-shadow: inset 0 .0625em .125em rgba(10,10,10,.05);
    max-width: 100%;
    width: 100%;
    border-radius: 4px;
}

.control-group {
    margin: 1rem;
}

.control-group > .controls {
    font-size: 0.9rem;
}

.btn {
    margin: 1rem;
    border-radius: 4px;
    background-color: #fbbf24;
    color: #363636;
    border-color: transparent;
    padding: 1rem;
}

.liked-coffee-shop{
    margin: 1rem 0;
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }

    .menu-bars {
        display: block;
    }
}

@media (min-width: 768px) {
    .sidebar {
        display: none;
    }
}


/* Firefox reports excessive amount of will-change memory usage, caused by a leaflet version */
/* Since this is just a demo project I leave it as is for now
TODO: remove django-leaftlet  */
.leaflet-fade-anim .leaflet-tile,
.leaflet-zoom-anim .leaflet-zoom-animated {
    will-change: auto !important;
}