{% extends "base.html" %}

{% load leaflet_tags %}
{% load static %}
{% load render_stars %}
{% load i18n %}
{% block title %}{% if shop %}{{ shop.name }}{% endif %}{% endblock %}
{% block meta %}
<meta property="og:type" content="website">
<meta property="og:title" content="{{shop}}">
<meta property="og:description" content="{{shop}} {{shop.address}}">
<meta name="description" content="{{shop}} {{shop.address}}">
{% endblock %}
{% block javascript %}
{% leaflet_js plugins="forms" %}
{{ geoform.media }}
{% endblock javascript %}

{% block stylesheet %}
{% leaflet_css plugins="forms" %}
{% endblock stylesheet %}

{% block content %}
{% if shop %}
<article class="article-content">
    <h1 class="shop-name">{{ shop.name }}</h1>
    {% if request.user.is_staff %}
    <p>
        <a class="link edit-link" href="{% url 'admin:shops_shop_change' shop.id %}">
            {% trans "Edit" %} <span><i class="fa-solid fa-pencil"></i></span>
        </a>
    </p>
    {% endif %}
    {% if request.user.is_anonymous %}
    <div>
        <a class="link secondary-link"
            href="{% url 'accounts:login' %}">{% trans "Please log in to like this coffee shop" %}</a>
    </div>
    {% else %}
    {% include "partials/shop_liked.html" with shop=shop %}
    {% include "partials/shop_user_opinion.html" with shop=shop %}
    {% endif %}
    {% if shop.content or shop.rating %}
    <h2>{% trans "Our expert barista insights"%}</h2>
    {% endif %}
    {% if shop.content %}
    <div class="review-content">
        <h3>{% trans "Opinion" %}</h3>
        {{ shop.content|safe }}
    </div>
    {% endif %}
    {% if shop.rating %}
    <h3>{% trans "Score:" %}</h3>
    {% render_stars shop.rating %}
    {% endif %}
    {% if shop.roaster %}
    <h2>{% trans "Additional services" %}</h2>
    <div class="roaster"><i class="fa-solid fa-fire"></i><span> {% trans "Roaster" %}</span></div>
    {% endif %}
    {% if shop.product.all %}
    <h2>{% trans "Products" %}</h2>
    {% for bag in shop.product.all %}
    <div class="coffee-product">
        <h3>{{ bag.brand }}</h3>
        <p><span><i class="fa-solid fa-seedling"></i></span> {{ bag.get_species_display }}</p>
        <p><span><i class="fa-solid fa-earth-americas"></i></span> {{ bag.get_origin_display }}</p>
    </div>
    {% endfor %}
    {% endif %}
    <section class="shop-map">
        <h2>{% trans "Location" %}</h2>
        {% if shop.address %}
        <p><i class="fa-solid fa-store"></i><span> {{ shop.address }}</span></p>
        {% endif %}
        {% leaflet_map "detail-map" settings_overrides=settings_overrides %}
    </section>
</article>
{% endif %}
<form>
    {% comment %} CSRF token to prevent attacks, used by like and follow functions {% endcomment %}
    {% csrf_token %}
</form>
{% include "partials/accounts_to_follow.html" %}
{% endblock %}
{% block footer_scripts %}
{% include "partials/following_script.html" %}
{% include "partials/detail_shop_script.html" %}
{% endblock %}