{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load django_vite %}
{% load leaflet_tags %}
{% block title %}Tamper{% endblock %}
{% block javascript %}
{% leaflet_js plugins="forms" %}
{{ geoform.media }}
{% endblock javascript %}

{% block stylesheet %}
{% leaflet_css plugins="forms" %}
{% endblock stylesheet %}

{% block content %}
<h1 class="site-title">Tamper</h1>
<h2 class="site-subtitle">{% trans "Nearby Coffee Shops" %}</h2>
<p>{% trans "Let us find your favorite speciality coffee shop in Guadalajara" %}</p>
<section id="map">
    <div>
        <label for="distance">5 km</label>
        <input id="distance" type="range" min="0" max="50" step="5" value="5" />
        <label for="">30 km</label>
        <div>{% trans "Distance:" %}: <span id="distanceValue">5</span> km</div>
    </div>
    {% leaflet_map "guadalajara" %}
</section>
{% endblock content %}

{% block footer_scripts %}
{% vite_asset 'js/home.js' %}
{% endblock footer_scripts %}