{% extends "base.html" %}
{% load i18n %}
{% load newest_shops %}
{% block content %}
<div class="new-cafes-container">
    <h1>{% trans "New additions" %}</h1>
    <ul class="new-cafe-list">
        {% for shop in shops %}
        <li>
            <a href="{% url 'shops:shop_detail' shop.pk %}">{{ shop.name }}</a>
            {% if shop.created_date|days_ago:15 %}
                <span class="recent-addition">new</span>
            {% endif %}
        </li>
            {% empty %}
                <p>{% trans "We're working hard to provide with the latest coffee shops." %}</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}