{% extends "base.html" %}
{% load i18n %}
{% load newest_shops %}
{% block title %}{% trans "Newest coffee shops" %}{% endblock %}

{% block content %}
<div class="new-cafes-container">
    <h1>{% trans "New additions" %}</h1>
    <ul class="list new-list">
        {% for shop in shops %}
        <li class="item new-item">
            <a class="link new-item-link" href="{% url 'shops:detail' shop.pk %}">{{ shop.name }}</a>
            {% if shop.created_date|days_ago:15 %}
                <span class="new-coffee-shop">new</span>
            {% endif %}
        </li>
            {% empty %}
                <p>{% trans "We're working hard to provide with the latest coffee shops." %}</p>
        {% endfor %}
    </ul>
</div>
<div class='pagination'>
    {% if page_obj.has_previous %}
    <a class="link pagination-link" href='{% url "shops:newest" %}?page={{ page_obj.previous_page_number }}'>{% trans "Previous" %} </a>
    {% endif %}
    <span class='pagination-info'>
        {% blocktrans with number=page_obj.number num_pages=page_obj.paginator.num_pages %} 
            Page {{ number }} of {{ num_pages }}
        {% endblocktrans %}
    </span>
    {% if page_obj.has_next %}
    <a class="link pagination-link" href='{% url "shops:newest" %}?page={{ page_obj.next_page_number }}' > {% trans "Next" %}</a>
    {% endif %}
</div>
{% endblock %}