{% extends "base.html" %}
{% load newest_shops %}
{% block content %}
<div class="new-cafes-container">
    <h1>Buscaste: {{ query }}</h1>
    {% for shop in shops %}
    <ul class="new-cafe-list">
        <li>
            <a href="{% url 'shop_detail' shop.pk %}">{{ shop.name }}</a>
            {% if shop.created_date|days_ago:15 %}
                <span class="recent-addition">new</span>
            {% endif %}
            <small>{{ shop.address }} </small>
        </li>
    </ul>
    {% empty %}
    <p>Lo siento, no encontramos ninguna cafetería, ten una taza de café virtual en su lugar ☕</p>
    <p>¿Por qué no visitas las cafeterías nuevas?</p>
    <a href={% url 'newest_coffee_shops' %}><button class="btn">Ir a cafeterías nuevas</button></a>
    {% endfor %}
</div>
{% endblock %}