{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "About" %}{% endblock %}
{% block meta %}
    <meta property="og:type" content="website">
    <meta property="og:title" content='{% trans "Tamper about page" %}'>
    <meta property="og:description" content="This is the fan page of my blog where I share information about the coffee shops I visit and what I learn every day about coffee. I currently work as a barista in a small coffee shop. Would you like to join me to learn about coffee?">
    <meta name="description" content="This is the fan page of my blog where I share information about the coffee shops I visit and what I learn every day about coffee. I currently work as a barista in a small coffee shop. Would you like to join me to learn about coffee?">
{% endblock %}
{% block content %}
<article class="page-content">
    <h1>About me</h1>
    <picture>
        <img class="responsive-img" src="{% static 'images/sui_400.jpg' %}" alt="">
    </picture>
    <p>This is the fan page of my blog where I share information about the coffee shops I visit and what I learn every
        day
        about coffee. I currently work as a barista in a small coffee shop. Would you like to join me to learn about
        coffee?</p>
    <p>
        <strong>Traducción:</strong> Esta es la fan page de mi blog donde comparto información sobre las cafeterías que
        visito y lo que aprendo cada día sobre café.
        Actualmente trabajo como barista en una pequeña cafetería.
        ¿Te gustaría acompañarme a aprender sobre el café?
    </p>
    <small>— Sui</small>
</article>
{% endblock %}