{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <title>{% block title %}{{ site.name }}{% endblock %}</title>
    <link async rel="stylesheet" href="{%  static  'css/style.css'  %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
        integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="{{ site.name }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="The best speciality coffee shops or Cafes in Guadalajara, Jalisco, México">
    <meta name="description" content="The best speciality coffee shops or Cafes in Guadalajara, Jalisco, México">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
    {% endblock meta %}

    {% block stylesheet %}
    {% endblock stylesheet %}

    {% block meta_tags %}
    {% endblock meta_tags %}

    {% block javascript %}
    {% endblock javascript %}

</head>

<body>
    {% block header %}
    <nav>
        <div class="logo"><a href="{% url 'home' %}">Tamper</a></div>
        <div class="navbar">
            <ul class="menu">
                <li>
                    <form id="searchForm">
                        <input pattern="^[A-zÀ-ú\s]*$" id="search" class="search" type="search" name="search" placeholder="Buscar">
                    </form>
                </li>
                {% include 'menu.html' %}
            </ul>
        </div>
        <div id="menu-bars" class="menu-bars">
            <i class="fa-solid fa-bars"></i>
        </div>        
        <div id="sidebar" class="sidebar hidden">
            <div id="close" class="close"><i class="fa-solid fa-xmark"></i></div>
            <ul class="sidebar-menu">
                <li>
                    <form id="searchFormSidebar">
                        <input pattern="^[A-zÀ-ú\s]*$" id="search" type="search" name="search" class="search" placeholder="Buscar">
                    </form>
                </li>
                {% include 'menu.html' %}
            </ul>
        </div>
    </nav>
    {% endblock %}

    <main class="container">
        {% block content %}
        {% endblock content %}
    </main>
    {% block aftercontent %}
    {% endblock aftercontent %}

    {% block footer %}
    <footer>
        <div class="links">
            <section class="social-media">
                <ul class="social-icons">
                    <li><a href="https://facebook.com/latteporlaciudad/"><i class="fa-brands fa-facebook fa-2x"></i></a>
                    </li>
                    <li><a href="https://www.instagram.com/latte.porlaciudad/"><i
                                class="fa-brands fa-instagram fa-2x"></i></a></li>
                    <li><a href="https://twitter.com/sui_azanza/"><i class="fa-brands fa-twitter fa-2x"></i></a></li>
                </ul>
            </section>
            <section class="legal">
                <p><a href="{% url 'legal' %}">Legal</a></p>
            </section>
        </div>
        <div class="credits"><small>Coded with ☕ in latam by <a href="https://eduardozepeda.dev">Eduardo
                    Zepeda.</a></small>
        </div>
    </footer>
    {% endblock %}

    {% block footer_scripts %}
    {% endblock footer_scripts %}
    <script>
        function handleSearchSubmit(event){
                event.preventDefault()
                window.location.href = '/shops/search/' + event.target.firstElementChild.value
            }
        window.onload = function() {
            let sidebarClose = true
            let searchInputClosed = true
            const close = document.getElementById("close")
            const bars = document.getElementById("menu-bars")
            const sidebar = document.getElementById("sidebar")
            function toggleSidebar(){
                if(sidebarClose){
                    sidebar.classList.remove("hidden")
                } else {
                    sidebar.classList.add("hidden")
                }
                sidebarClose = !sidebarClose
            }
            close.addEventListener("click", toggleSidebar)
            bars.addEventListener("click", toggleSidebar)
            document.getElementById("searchForm").addEventListener("submit", handleSearchSubmit)
            document.getElementById("searchFormSidebar").addEventListener("submit", handleSearchSubmit)
        }
    </script>
</body>

</html>