{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <title>{% block title %}{{ site.name }}{% endblock %}</title>
    <link async rel="stylesheet" href="{%  static  'css/style.css'  %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
        integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="{{ site.name }}">
    {% block meta %}
    <meta property="og:type" content="website">
    <meta property="og:description" content="The best speciality coffee shops or Cafes in Guadalajara, Jalisco, México">
    <meta name="description" content="The best speciality coffee shops or Cafes in Guadalajara, Jalisco, México">
    {% endblock meta %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
    {% block stylesheet %}
    {% endblock stylesheet %}

    {% block meta_tags %}
    {% endblock meta_tags %}

    {% block javascript %}
    {% endblock javascript %}

</head>

<body>
    {% block header %}
        {% include "partials/nav.html" %}
    {% endblock %}

    <main class="container">
        {% block content %}
        {% endblock content %}
    </main>
    {% block aftercontent %}
    {% endblock aftercontent %}

    {% block footer %}
        {% include "partials/footer.html" %}
    {% endblock %}

    {% block footer_scripts %}
    {% endblock footer_scripts %}
    {% include "partials/menu_script.html" %}
</body>
</html>