.bubble {
    border-radius: 8px;
    padding: var(--padding-sm);
    margin: var(--margin-sm);
    max-width: 200px;
    word-break: keep-all;
}

.sender {
    color: var(--color-base);
    background-color: var(--color-accent);
    align-self: flex-end;
}

.receiver {
    background-color: var(--color-highlight);
    color: var(--color-secondary);
}