.container {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 999;
}

.chatWindow {
    position: relative;
    height: 450px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--white);
}

.border {
    height: 50px;
    background-color: var(--color-secondary);
    color: var(--color-base);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--padding-1x);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.messages {
    overflow-y: scroll;
    padding: var(--padding-sm);
    display: flex;
    flex-direction: column;
}

.message {
    padding: var(--padding-1x);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    gap: var(--padding-sm);
}

.messageInput {
    border: 2px solid var(--color-highlight);
    border-radius: 45px;
    padding: var(--padding-1x);
}

.btn {
    padding: var(--padding-1x);
    background-color: var(--color-secondary);
    color: var(--white);
    border: 0;
    border-radius: 8px;
}

.dummyDivForScroll {
    /* this margin allow us to scroll automatically until the last message is seen on the screen */
    margin-top: 20px;
}

.statusContainer {
    display: flex;
    justify-content: center;
}

.status {
    font-size: var(--font-sm);
    border-radius: 16px;
    width: min-content;
    padding: 0 var(--padding-1x);
}

.open {}

.connecting {
    background-color: var(--green);
    color: var(--white);
}

.closing {
    background-color: var(--color-accent);
    color: var(--white);
}

.closed {
    background-color: var(--red);
    color: var(--white);
}