.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.image {
    border-radius: 8px;
    transition: filter 0.5s ease-in-out;
    object-fit: cover;
}

.image:hover {
    filter: brightness(125%);
}

.address {
    color: var(--main-color-text);
}

.newAddition {
    background-color: var(--green);
    color: var(--white);
    border-radius: 4px;
    font-size: 0.8rem;
    padding: 0 var(--padding-sm);
}