:root {
  --nav-height: 50px;
  --footer-height: 100px;
  --icon-padding: 0.5rem;
  --padding-sm: 0.5rem;
  --padding-1x: 1rem;
  --padding-2x: 2rem;
  --padding-3x: 3rem;
  --margin-sm: 0.5rem;
  --margin-1x: 1rem;
  --margin-2x: 2rem;
  --margin-3x: 3rem;
  --font-sm: 0.9rem;
  --font-md: 1.1rem;
  --font-h1: 4rem;
  --font-h2: 2rem;
  --color-base: #FFFFFF;
  --color-secondary: #4A2C1D;
  --color-accent: #A77C58;
  --color-highlight: #F7E6D1;
  --color-neutral: #D8D8D8;
  --red: #e5594c;
  --pink: #D3B1A9;
  --green: #007F5F;
  --yellow: #EEA600;
  --button-radius: 4px;
  --input-radius: 4px;
  --sidebar-bg: #141414;
  --main-color-text: #4F4F4F;
  --white: #FFFFFF;
  --btn-h: 12px;
  --btn-w: 20px;
}

html,
body {
  height: 100%;
  font-family: 'Mukta', sans-serif;
  font-size: var(--font-md);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-base);
  color: var(--main-color-text)
}

h1,
h2,
h3 {
  margin: var(--margin-1x) 0;
  font-family: 'Comfortaa', cursive;
  line-height: 3rem;
}

h1 {
  font-size: var(--font-h1);
}

h2 {
  font-size: var(--font-h2);
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#__next {
  min-height: 100%;
  position: relative;
}

#map {
  height: 430px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--white);

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}