.list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: 100%;
    gap: var(--padding-1x);
}

.item {
    padding: 0 var(--padding-1x);
}

@media (max-width: 768px) {
    .list {
        flex-direction: column;
        margin-top: 150px;
    }
}