.nav {
    min-height: var(--nav-height);
    padding: var(--padding-1x);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Comfortaa';
}

.menuSidebar {}


@media (max-width:768px) {
    .menu {
        display: none;
    }
}