.sidebar {
    color: var(--white);
    background-color: var(--sidebar-bg);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 1001;
    /* z-index make a conflict with leaf-let map, this is the minimum value accepted to not overlap */
}

.hidden {
    display: none;
}

.cross {
    position: absolute;
    top: 0;
    right: 0;
}

@media (min-width: 768px) {
    .sidebar {
        display: none;
    }
}