.btn {
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: var(--button-radius);
}

.follow {
    background-color: var(--color-secondary);
    color: var(--color-base);
}

.unfollow {
    background-color: var(--color-neutral);
    color: var(--color-secondary);
}