.formContainer {
    max-width: 48ch;
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--padding-1x);
    margin: var(--margin-1x) 0;
}

.input {
    color: var(--secondary-color);
    padding: 14px;
    border-radius: var(--input-radius);
    font-size: var(--font-sm);
    outline: transparent;
    border: 1px solid var(--light-gray);
}

.input:placeholder-shown {
    border: 1px solid var(--light-gray);
}

.inputError {
    border: 2px solid var(--red);
}

.inputValid {
    border: 2px solid var(--green);
}

.submit {
    padding: var(--padding-1x) var(--padding-2x);
    background-color: var(--main-color);
    color: var(--white);
    margin: var(--margin-1x) 0;
    border: 0;
}

.submit:disabled {
    filter: brightness(200%)
}

.inputErrorMessage {
    color: var(--red);
    font-size: var(--font-sm);
}

.requestError {
    padding: 3px 12px;
    border-radius: 4px;
    background-color: var(--red);
    color: var(--white);
}

.requestSuccess {
    padding: 3px 12px;
    border-radius: 4px;
    background-color: var(--green);
    color: var(--white);
}

.label {
    color: var(--secondary-color);
    font-size: var(--font-sm);
}

.checkBoxRecommended {
    opacity: 0;
}

.heart {
    color: var(--pink);
}

.iconInactive {
    filter: brightness(180%);
}

.fileInput {
    border: 0;
}