:root {
  --nav-height: 50px;
  --footer-height: 100px;
  --icon-padding: 0.5rem;
  --padding-1x: 1rem;
  --padding-2x: 2rem;
  --padding-3x: 3rem;
  --margin-1x: 1rem;
  --margin-2x: 2rem;
  --margin-3x: 3rem;
  --font-sm: 0.9rem;
  --font-md: 1.1rem;
  --font-h1: 4rem;
  --font-h2: 2rem;
  --orange: #D28537;
  --red: #C03D29;
  --green: #009456;
  --button-radius: 20px;
  --input-radius: 8px;
  --sidebar-bg: #141414;
  --main-color: #212121;
  --secondary-color: #3E3E3E;
  --white: #FFFFFF;
}

html,
body {
  height: 100%;
  font-family: 'Mukta', sans-serif;
  font-size: var(--font-md);
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: var(--margin-1x) 0;
  font-family: 'Comfortaa', cursive;
  line-height: 3rem;
}

h1 {
  font-size: var(--font-h1);
}

h2 {
  font-size: var(--font-h2);
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#__next {
  height: 100%;
  position: relative;
}

#map {
  height: 430px;
}