.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
}

.item {
    padding: 0 var(--padding-1x);
    margin: 0 var(--margin-1x);
}

@media (max-width: 768px) {
    .list {
        flex-direction: column;
    }
}