.container {
    text-align: justify;
}

.review {
    margin: var(--margin-2x) 0;
}

.icon {
    color: var(--pink);
}

.author {
    color: var(--secondary-color);
    display: flex;
    gap: var(--padding-1x);
}

.profilePicture {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    object-fit: cover;
}

.content {
    margin-left: var(--margin-2x);
}